
.purchase{}

.purchase-filter{
    border: 1px solid #E6E6E6;
    border-radius: 3px; 
    padding: 5px;
    margin-top: -120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    width: 100%;
}

.purchase-filter-toggle{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    padding-left: 20px;
}
.purchase-filter-toggle__item{
    color: #888888;
    text-decoration: none;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    font-weight: 400;
}
.purchase-filter-toggle__item:after{
    content: "";
    display: inline-block;
    width: 9px;
    height: 11px;
    background: url("data:image/svg+xml,%0A%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 330.002 330.002' style='enable-background:new 0 0 330.002 330.002;' xml:space='preserve'%3E%3Cpath fill='%23888888' d='M324.001,209.25L173.997,96.75c-5.334-4-12.667-4-18,0L6.001,209.25c-6.627,4.971-7.971,14.373-3,21 c2.947,3.93,7.451,6.001,12.012,6.001c3.131,0,6.29-0.978,8.988-3.001L164.998,127.5l141.003,105.75c6.629,4.972,16.03,3.627,21-3 C331.972,223.623,330.628,214.221,324.001,209.25z'/%3E%3C/svg%3E%0A") center/cover no-repeat;
    margin-left: 6px;
    transform: rotate(180deg);
}
.purchase-filter-toggle__item.m-active:after{
    transform: rotate(0deg);
}

.purchase-filter-toggle__item:last-child{
    margin-right: 0;
}

.purchase-filter-state{
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}
.purchase-filter-state__pre{
    color: #888888;
    margin-right: 10px;
    font-weight: 400;
}
.purchase-filter-state__link{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F3F3F5;
    border-radius: 2px;
    border: 1px solid #F3F3F5;
    font-weight: 700;
    font-size: 15px;
    color: #1D2029;
    text-decoration: none!important;
    margin-right: 5px;
    width: 34px;
    height: 34px;
    min-width: 34px;
    transition: all .25s ease;
}
.purchase-filter-state__link.m-active{
    color: #FF6D00;
    border: 1px solid #FF6D00;
}
.purchase-filter-state__link:last-child{
    margin-right: 0;
}
.purchase-filter-state__link:hover{
    color: #FF6D00;
}

.purchase__item{
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    margin-bottom: -1px;
    padding: 25px 30px 20px 28px;
    display: flex;
}
.purchase__item.m-active{
    border: 1px solid #FF6D00;
}
.purchase__item:last-child{
    margin-bottom: 0;
}
.purchase__icon{
    width: 200px;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 10px;
    margin-right: 38px;
    background: #ccc;
    position: relative;
}
.purchase__label{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #F3F3F5;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 44px;
    min-width: 44px;
    height: 44px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
}
.purchase__icon img{
    display: block;
    max-width: 100%;
    max-height: 100%;
}
.purchase__info{
    flex:1;
}
.purchase__title{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.purchase-cols{
    display: flex;
    align-items: flex-start;
}

.purchase-cols-view{
    flex:1;
    padding-right: 15px;
}

.purchase-btn{
    margin-left: 32px;
}
.purchase-cols__price{
    margin-left: 44px;
    font-size: 22px;
    font-weight: 700;
}
.purchase-cols-add{
    display: flex;
    align-items: center;
}
.purchase-cols-cert a{
    color: #000000;
    border-bottom: 1px dashed #000;
    font-weight: 700;
    font-size: 15px;
}
.purchase-cols-cert a:hover{
    border-bottom: 1px dashed transparent;
}
.purchase-cols-view__item{
    display: flex;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}
.purchase-cols-view__item:last-child{
    margin-bottom: 0;
}
.purchase-cols-view__pre{
    width: 104px;
    min-width: 104px;
    color: #888;
    margin-right: 13px;
}


.middle_info .slider-wrap{
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    padding: 15px;
    background: transparent!important;
}
.middle_info_wrap{
    background: #f3f3f5;
    padding: 15px;
}

.prices-toggle{
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    padding: 15px;
    margin-bottom: -1px;
}
.values_wrapper{
    color: #FF6D00;
    font-size: 18px;
}
.values_wrapper .price_value {
    font-size: 18px!important;
    color: #FF6D00;
}
.info_item .middle_info .prices .price{
    padding: 15px 0 0 0!important;
    margin: 0;
}

.basket-toggle__link{
    font-size: 18px;
    font-weight: 700;
    color: #1D2029;
    text-decoration: none!important;
    position: relative;
    display: block;
    padding-right: 20px;
}

.basket-toggle__link:after{
    content: "";
    display: inline-block;
    width: 12px;
    height: 8px;
    position: absolute;
    right: 1px;
    top: 50%;
    transform: translateY(-50%);
    background: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 1L6 6L1 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E") center/cover no-repeat;
}
.slider-wrap .sale-btn-in{
    display: inline;
}

@media (max-width: 1200px){
    .purchase__icon {
        width: 130px;
        min-width: 130px;
        height: 130px;
        margin-right: 20px;
    }
    .basket-toggle__link,
    .values_wrapper .price_value {
        font-size: 16px!important;
    }
}

@media (max-width: 1024px){
    .purchase-cols{
        flex-wrap:wrap;
    }
    .purchase-cols-view {
        padding-right: 0;
        width: 100%;
        min-width: 100%;
        margin-bottom: 20px;
    }
    .purchase-cols-add{
        width: 100%;
    }
    .purchase-cols__price:first-child{
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .purchase-cols-add{
        flex-wrap:wrap;
    }
    .purchase-cols-cert{
        width: 100%;
        margin-bottom: 20px;
    }
    .purchase-cols-cert a{
        font-size: 15px;
    }
    .purchase-cols__price{
        margin-left: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .purchase-btn {
        margin-left: 0;
    }
    .info_item .middle_info .prices_block {
        margin: 0;
    }
    .info_item .middle_info .prices .price{
        padding: 0!important;
    }
}

@media (max-width: 600px){
    .purchase-filter{
        display: none;
    }
    .purchase__item{
        flex-wrap:wrap;
        padding: 20px;
    }
    .purchase__icon {
        width: 200px;
        min-width: 200px;
        height: 200px;
        margin: 0 auto 20px;
    }
    .purchase__info {
        flex: inherit;
        width: 100%;
    }
    .catalog_detail .item_main_info .right_info .info_item{
        padding: 0 11px;
    }
}

@media (max-width: 500px){
    .purchase-cols__price{
        text-align: center;
    }
    .purchase-btn {
        width: 100%;
    }
    .purchase-btn .btn{
        width: 100%;
        text-align: center;
    }
}